{% extends "base.html" %}
{% block content %}
		 	<div class="about-us">
		 			<div class="wrap">
						<div class="about-header">
							<h3 style="font-size:2em">About US </h3>
							<div class="clear"> </div>
						</div>
						<div class="about-info">
							<p style="font-size:1.5em">
								Caring Shuttle was founded in 2007 providing services between the Detroit airport and Ann Arbor, and other ride services to nearby cities. All drivers has more than 20 years of driving experience and over 15 years Ann Arbor residents, so completely familiar with road conditions and areas.  You can rest assure for your ride with us - on time, safe and reliable. Business hour is from 8AM - 9PM only.　<p style="color:red">Receipt available upon request.</o>
							</p>
						</div>
					</div>

					<div class="testmonials">
						<div class="wrap">
							<div class="testmonial-grid">
								<<div class="specials-grids">
	<div class="special-grid">
		<img src="site_media/images/img1.jpg" title="image-name">
		
		<a>Honda Accord.</a>
	</div>
	<div class="special-grid">
		<img src="site_media/images/img2.jpg" title="image-name">
		<a>Honda Odyssey</a>
	</div>
	<div class="special-grid spe-grid">
		<img src="site_media/images/img3.jpg" title="image-name">
		<a>Honda Accord</a>
	</div>
	<div class="clear"> </div>
</div>
							</div>
						</div>
					</div>
		 	<!---End-about---->
		 </div>

{% endblock %}