{% extends "base.html" %}
{% block slider %}
		<div class="slider">					     
					<div class="camera_wrap camera_azure_skin" id="camera_wrap_1">									           
						<div data-src="/site_media/images/img1.jpg">  </div> 
						<div data-src="/site_media/images/img2.jpg">  </div>
						<div data-src="/site_media/images/img3.jpg">  </div>
					</div>
					<div class="clear"> </div>					       
			</div>					
{% endblock%}
{% block content %}

		 	<div class="top-grids">
		 		<div class="wrap">
			 		<h3>Caring Shuttle was founded in 2007 providing services between the Detroit airport and Ann Arbor, and other ride services to nearby cities. All drivers has more than 20 years of driving experience and over 15 years Ann Arbor residents, so completely familiar with road conditions and areas.  You can rest assure for your ride with us - on time, safe and reliable. Business hour is from 8AM - 9PM only. Receipt available upon request.</h3>
		 		</div>
		 	</div>
		 	<div class="mid-grids">
		 		<div class="wrap">
		 			<h1 style="margin-bottom:20px; color:white">Price</h1>
			 		<div class="mid-grid">
			 			<a href="#"><img src="/site_media/images/img1.jpg" title="repair" /></a>
			 			<h4>Honda Accord</h4>
			 		</div>
			 		<div class="mid-grid">
			 			<a href="#"><img src="/site_media/images/img2.jpg" title="spares" /></a>
			 			<h4>Honda Odyssey</h4>
			 		</div>
			 		<div class="mid-grid">
			 			<a href="#"><img src="/site_media/images/img3.jpg" title="sales" /></a>
			 			<h4>Honda Accord</h4>
			 		</div>
			 		<ul style="color:white;font-size:1.7em">
			 			<li><p class="dollor">$32</p> &nbsp per person per trip</li>
			 			<li><p class="dollor">$3</p> &nbsp for each addtional person</li>
			 			<li><p class="dollor">$3</p>&nbsp for each addtional pick up or drop off address</li>
			 			<li><p class="dollor">$3</p>&nbsp for minivan service</li>
			 			<li><p class="dollor">8%</p>&nbsp discount for CSSA discount card holder</li>
			 			<li>Service from Ann Arbor to other cities in Michigan also provided, call for detail</li>
			 		</ul>
			 		<div class="clear"> </div>
		 		</div>
		 	</div>
{% endblock%}
