{% extends "base.html" %}
{% block content%}
<div class="specials">
<div class="specials-heading">
	<div class="clear"> </div>
</div>
<div class="clear"> </div>

<div class="testmonials">
						<div class="wrap">
							<div class="testmonial-grid">
								<h3>Price</h3>
	<ul style="color:white;font-size:1.7em;text-align:left;">
		<li>$32 per person per trip</li>
		<li>$3 for each addtional person</li>
		<li>$3 for each addtional pick up or drop off address</li>
		<li>$3 for minivan service</li>
		<li>8% discount for CSSA discount card holder</li>
		<li>Service from Ann Arbor to other cities in Michigan also provided, call for detail</li>
	</ul>
	
		</div>

	</div>
</div>
<div class="clear"> </div>
</div>
{% endblock %}
